# Python
__pycache__/
*.pyc
backend/.env
backend/venv/

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
